﻿<!DOCTYPE html>
<html>
    <body>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Index</a></li>
            <li><a href="@Url.Action("page1", "Home")">Page 1</a></li>
            <li><a href="@Url.Action("page2", "Home")">Page 2</a></li>
            <li><a href="@Url.Action("page3", "Home")">Page 3</a></li>
            <li><a href="@Url.Action("page4", "Home")">Page 4</a></li>
        </ul>
        @RenderBody()
    </body>
</html>